body {
    background: #F0F4F8;
    color: #3C3C3C; 
    font-family: "Lora", serif;
    font-size: 16px;
}

h1 {
    color: #2C3E50; 
    font-family: "Playfair Display", serif; 
    font-size: 32px; 
    font-weight: 700;
    text-align: center; 
}

h2 {
    color: #34495E; 
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold; 
}

a {
    text-decoration: none;
    color: #2980B9; 
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

a:hover {
    color: #1A1A19; 
}

.profile-image {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    border: 5px solid #8B4513; 
    display: block;
    margin: 20px auto; 
}

.container {
    width: 700px;
    margin: 40px auto; 
}

@media (max-width: 500px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 760px) {
    .container {
        width: 600px;
    }
}

.section {
    padding: 60px;
    margin: 30px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.section-skydiving {
    background: #E8F8F5; 
}

.section-architecture {
    background: #F5F6F7; 
}

.section-motorbikes {
    background: #F7F9F9; 
}

.section-follow {
    background: #E8E9ED; 
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}


.btn-blue {
    background-color: lightblue;
    padding: 15px 20px;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: blanchedalmond;
    padding: 15px 20px;
    border-radius: 4px;
}

.fa-linkedin {
font-size: 50px;
}

.fa-instagram {
font-size: 50px;
}